body {
  text-align: center;
  font-family: Arial;
}

input, button {
  padding: 6px;
  margin: 5px;
  background-color: aqua;
}

#output {
  white-space: pre-line;
  text-align: left;   /* left triangle */
  display: inline-block;
}